.row {
  background-color: #f7ecf2;
  border-radius: 20px;
  padding: 15px 25px;
  display: flex;
  gap: 12px;
  align-items: center;
  
 
  @media (min-width: 1025px) {
    flex-wrap: nowrap;
  }
  

  @media (min-width: 769px) and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 10px;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
  }
  

  @media (max-width: 480px) {
    padding: 12px 16px;
    border-radius: 16px;
  }
}

.filterColumn {
  position: relative;
  width: 100%;

  @media (min-width: 769px) and (max-width: 1024px) {
    flex: 1 0 calc(50% - 10px);
    min-width: 140px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}