@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body
{
  margin: 0;
  padding: 0;
   font-family: "Montserrat", sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c87faa;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}